- name: Install apt packages
  apt:
    name: "{{ apt_packages }}"
    state: latest

- name: Install snap packages
  community.general.snap:
    name: "{{ snap_packages }}"
    classic: yes
    state: present
