- name: Install apt packages
  ansible.builtin.package:
    name: "{{ apt_packages }}"
    state: present

- name: Install snap packages
  community.general.snap:
    name: "{{ snap_packages }}"
    classic: true
    state: present
