- name: Install apt packages
  apt:
    name: "{{ apt_packages }}"
    state: latest

- name: Install snap packages
  community.general.snap:
    name: "{{ snap_packages }}"
    classic: yes
    state: present

- name: Ensure Nix profile exists
  stat:
    path: /etc/profile.d/nix.sh
  register: nix_profile

- name: Install Nix packages for real user
  become: true
  become_user: "{{ real_user }}"
  shell: |
    . /etc/profile.d/nix.sh
    nix-env -iA {{ nix_packages | map('regex_replace', '^(.*)$', 'nixpkgs.\\1') | join(' ') }}
  args:
    creates: "/home/{{ real_user }}/.nix-profile/bin/{{ nix_packages[0] }}"
  when: nix_profile.stat.exists
