- name: Locate powerline-daemon
  ansible.builtin.command: which powerline-daemon
  register: powerline_daemon
  changed_when: false

- name: Locate powerline bash binding
  ansible.builtin.find:
    paths:
      - /usr/share/powerline/bindings/bash
      - /usr/share
      - /usr/lib
    patterns: powerline.sh
    recurse: true
  register: powerline_shell

- name: Configure Powerline in bashrc
  ansible.builtin.blockinfile:
    path: "{{ item.home }}/.bashrc"
    marker: "# {mark} ANSIBLE POWERLINE"
    create: true
    block: |
      export PATH="$PATH:{{ powerline_daemon.stdout | dirname }}"
      powerline-daemon -q
      POWERLINE_BASH_CONTINUATION=1
      POWERLINE_BASH_SELECT=1
      source {{ powerline_shell.files[0].path }}
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
    mode: '0644'
  loop: "{{ users }}"
