repo_url: "https://github.com/Kamil-Herbetko/miscellaneous"
temp_repo_path: "/tmp/miscellaneous_configs"
users:
  - name: root
    home: /root
  - name: "{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"
    home: "/home/{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"