---
- name: Install and Configure Ubuntu
  hosts: localhost
  connection: local
  become: true

  roles:
    - common
    - nerd_fonts
    - packages
    - gnome_extensions
    - nix_packages
    - nvm
    - npm_packages
    - configs
    - powerline
    - uv
    - xonsh
    - docker
    - git
