---
- name: Install and Configure Ubuntu
  hosts: localhost
  connection: local
  become: true

  roles:
    - roles/common
    - roles/packages
    - roles/nix-packages
    - roles/configs
    - roles/powerline
